@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* header */
.header_bg {
    background-image: url(images/donation-baby.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
}

.take_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_bg div {
    width: 60%;
    text-align: center;
    margin-top: 16%;
    margin-bottom: 16%;
}
.button_style{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: tomato;
    border-radius: 5px;
    margin-top: 5%;
    display:inline-block;
}

/* section 2, donation */
.div_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_center div{
    width: 60%;
    text-align: center;
    margin: 5% 0;
}
.dis_flex{
    display: flex;
}
.dis_flex div{
    padding: 42px;
    margin-left: 13px;
    background-color:  rgb(187, 187, 187);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
#donate_active{
    background-color: tomato;
}